<% provide(:title, "User一覧") %>
<div class="container-fluid">
  <div class="user-table">
    <h1><i class="far fa-address-card">User一覧</i></h1>
    <div class="panel panel-primary">
      <table class="table table-striped">
        <thead>
          <tr class="bg-info text-white">
            <th scope="col">名前</th>
            <th scope="col">年齢</th>
            <th scope="col">出身</th>
            <th scope="col">gender</th>
            <th scope="col">birth_date</th>
            <th scope="col">How are you?</th>
            <th scope="col">programming</th>
            <th scope="col">image</th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |user| %>
          <tr>
            <td><%= user.name %></td>
            <td><%= user.age %></td>
            <td><%= user.birthplace %></td>
            <td><%= user.gender %></td>
            <td><%= user.birth_date %></td>
            <td><%= user.how_are_you %></td>
            <td>
              <%= user.programming_status %>
            </td>
            <!-- <td> @disp_prog </td> -->
            <td><%= image_tag user.image_url(:thumb) if user.image.present? %></td>
            <td><%= link_to '詳細', user_path(user), class: "btn btn-light btn-sm" %></td>
            <td><%= link_to '編集', edit_user_path(user), :class => "btn btn-info btn-sm "%></td>
            <td><%= link_to '削除', user_path(user), method: :delete, class: "btn btn-dark btn-sm" %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div><!-- <div class="panel panel-primary"> -->
    </div><!-- user-table -->
  </div><!-- <div class="container-fluid"> -->
