<div class="container-fluid">
  <div class="row">
    <div class="col-md-3">
      <div class="panel panel-default">
          <div class="panel-heading">
            <h1 class="panel-title">ユーザー一覧</h1>
          </div>
        <div class="panel-body">
          <% @users.each do |user| %>
            <p>名前：<%= user.name %></p>
            <p>年齢：<%= user.age %></p>
            <p>出身：<%= user.birthplace %></p>
            <p><%= image_tag user.image_url(:thumb) %></p>
            <p><%= link_to '編集', "/users/#{user.id}/edit", class: "btn btn-info btn-sm"  %>
            <%= link_to '削除', "/users/#{user.id}", method: :delete, class: "btn btn-primary btn-sm"  %></p>
            <hr>
          <% end %>
        </div>
      </div>
      <p><%= link_to "Sign up", '/user/new', class: "btn btn-primary btn-lg" %></p>
    </div><!-- <div class="col-md-3"> -->

    <!-- 同じ内容を表で表示  詳細情報も表示する-->
    <div class="col-md-9">

      <div class="panel panel-primary">
          <div class="panel-heading">
            ユーザー一覧
          </div>

          <table class="table table-striped">
          <thead>
              <tr>
                <th>名前</th>
                <th>年齢</th>
                <th>出身</th>
                <th>gender</th>
                <th>birth_date</th>
                <th>How are you?</th>
                <th>programming</th>
                <th>image</th>
              </tr>
          </thead>
          <tbody>
              <% @users.each do |user| %>
                <tr>
                  <td><%= user.name %></td>
                  <td><%= user.age %></td>
                  <td><%= user.birthplace %></td>
                  <td><%= user.gender %></td>
                  <td><%= user.birth_date %></td>
                  <td><%= user.how_are_you %></td>
                  <td>
                    <%= user.programming_status %>
                  </td>
                  <!-- <td><%= @checked_prog %></td> -->
                  <td><%= image_tag user.image_url(:thumb) %></td>
                  <td><%= link_to '編集', "/users/#{user.id}/edit", :class => "btn btn-info btn-sm "%></td>
                  <td><%= link_to '削除', "/users/#{user.id}", method: :delete, class: "btn btn-primary btn-sm" %></td>
                </tr>
              <% end %>
          </tbody>
          </table>
      </div>
    </div><!-- <div class="col-md-9"> -->
  </div><!-- <div class="row"> -->
</div><!-- <div class="container-fluid"> -->
