<% provide(:title, "みんなの投稿") %>

<!-- ページネーション ==============================================-->
<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center mt-3">
    <%= will_paginate(@posts, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer) %>
  </ul>
</nav>

<div class="album" py-5 bg-light text-center>

  <div class="album py-5">
    <div class="container-fluid">
      <div class="row">

        <% @posts.each do |post| %>
        <div class="col-md-4">
          <div class="card mb-3 shadow-md">

            <%= image_tag post.image_url(:thumb) if post.image.present? %>
            <div class="card-body">

              <% if post.content.present? %>
              <p class="border-0 mx-5 py-2 bg-light rounded font-italic text-info text-center">
                <span class="float-left"><i class="fas fa-quote-left"></i></span>
                <%= post.content %>
                <span class="float-right"><i class="fas fa-quote-right"></i></span>
              </p>
              <% end %>
              <p class="text-center">
                <!-- <p>確認用：Photo By:<%= post.user_id %>さん</p> -->
                Photo by:<% user = User.find_by(id: post.user_id) %>
                <%= user.name %>
              </p>
            </div>
          </div>
        </div>
        <% end %>

      </div>
    </div>
  </div>
<!-- ページネーション ==============================================-->
<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    <%= will_paginate(@posts, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer) %>
  </ul>
</nav>
