<nav class="navbar navbar-expand-md navbar-light bg-light sticky-top id=navbar my-auto">

    <!-- タイトル部分 ====================================================-->
    <%= link_to root_path, class: "navbar-brand", method: :get do %>
        <i class="fab fa-cloudversify">
          TOP
        </i>
    <% end %>
    <!-- ナビバーのメニューボタン ====================================================-->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  <!-- メニュー項目 ====================================================-->
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto mt-3">
            <li class="nav-item active">
              <%= link_to 'みんなの投稿を見る', post_table_path, class: "nav-link" %>
            </li>

          <% if signed_in? %>
            <!-- ドロップダウン ====================================================-->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  ほかのユーザーを見る
                </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <%= link_to 'ユーザー一覧へ', users_path, class: "dropdown-item" %>
                  <div class="dropdown-divider"><!-- ドロップダウン内の区切り線 ================ -->
                  </div>

                  <!-- 検索窓 form ==================================================-->
                  <div class="my-auto mr-2 dropdown-item">
                    <p>
                      ユーザー検索
                    </p>
                  <%= form_tag(users_path, method: "get", :class=> "dropdown-item") do %>
                    <%= label_tag :名前 %>
                    <%= text_field_tag :name_cont %><br />
                    <%= label_tag :年齢 %>
                    <%= text_field_tag :age_eq %>
                    <%= submit_tag "検索", class: "btn btn-outline-info btn-sm" %>
                  <% end %>
                </div>
              </div> <!-- <div class="dropdown-menu" aria-labelledby="navbarDropdown"> -->
            </li>
          <% end %>
      </ul><!--navbar-nav -->

    <ul class="navbar-nav pull-right">
          <!-- ログイン中のメニュー ======================================-->
        <% if signed_in? %>
            <li class="nav-item dropdown">
                  <a class="navbar-brand dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <%= image_tag @current_user.image_url(:thumb), :height => '40px:' %>
                  </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown2">
                <%= link_to '新規投稿する', new_user_post_path(@current_user), class: "dropdown-item" %>
                <%= link_to '投稿一覧', user_posts_path(@current_user), class: "dropdown-item" %>
                <!-- User詳細へ -->
                  <%= link_to "#{@current_user.name}", user_path(@current_user), class: "dropdown-item" %>
                <!-- ドロップダウン内の区切り線 ================ -->
                <div class="dropdown-divider">
                </div>
                <%= link_to 'ログアウト', logout_path, method: "delete", class: "dropdown-item" %>
              </div>

        <% else %>
              <li>
              <p class="navbar-text mx-2">ようこそ
              <%= link_to 'ゲスト', new_user_path, class: "navbar-link" %>さん</p>
              <%= link_to 'ログインはこちらから', login_path, class: "btn btn-ac1 navbar-btn" %>
            </li>
        <% end %>
    </ul><!-- ul class="navbar-nav mr-auto -->

  </div><!-- <div class="collapse navbar-collapse" id="navbarSupportedContent"> -->
</nav>
