<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %> | Userlists App</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <!-- application.html.erbでライブラリの読み込み（5系のみ）
    jQuery
      <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    Bootstrap CDN
      <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
            ※Bootstrapのファイルをネット上から読み込んで使用する。これにより、Bootstrapに関連するファイルをダウンロードしなくて済む -->
  <!-- fontawesome読みこみ -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
</head>

<body>
  <!-- boot4でのNavi bar -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-fixed-top">

    <!-- サイトタイトル部分 -->
      <!-- <a class="navbar-brand" href="/user/index"> を下記に書き換え-->
      <%= link_to users_path, class: "navbar-brand", method: :get do %>
          <i class="fab fa-cloudversify">TOP</i>
      <% end %>
    <!-- ナビバーのメニューボタン -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    <!-- メニュー項目 -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <!-- user#indexへのリンク -->
                <%= link_to 'ユーザー一覧へ', users_path, class: "nav-link" %>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
              </li>

            <!-- ドロップダウン -->
              <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Dropdown
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <!-- "/user/new"へのリンク -->
                    <%= link_to 'ユーザー新規登録', new_user_path, class: "dropdown-item" %>

                    <%= link_to 'Something else here', "#", class: "dropdown-item" %>
                    <%= link_to 'Something else here', "#", class: "dropdown-item" %>

                    <div class="dropdown-divider"></div><!-- ドロップダウン内の区切り線 -->
                    <%= link_to 'Something else here', "#", class: "dropdown-item" %>
                  </div>
              </li>
              </ul>
              <ul class="navbar-nav pull-right">
                <!-- 検索窓 form -->
                <li>
                <form class="form-inline my-2 my-lg-0">
                  <input class="form-control mr-sm-2" type="search" placeholder="検索キーワードを入力" aria-label="Search">
                  <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Search</button>
                </form>
              </li>
              <!-- ようこそゲスト -->
                <li class="nav-item">
                    <p class="navbar-text">ようこそ
                    <%= link_to 'ゲスト', new_user_path, class: "navbar-link" %>
                  さん</p>
                    <%= link_to 'Sign UP', new_user_path, class: "btn btn-warning navbar-btn" %>
              </li>
            </ul><!-- ul class="navbar-nav mr-auto -->
        </div><!-- <div class="collapse navbar-collapse" id="navbarSupportedContent"> -->
  </nav><!-- boot4のNavibar終わり -->


<%= yield %>

</body>
</html>
